/* screen - frame-4 */

.frame-4 {
  align-items: flex-start;
  display: flex;
  height: 120px;
  min-width: 252px;
  overflow-x: hidden;
}

#overlay-frame-4 {
  background-color: transparent;
  position: absolute;
}

.overlay .frame-4 {
  background-color: #00000000;
}

#overlay-frame-4 .frame-4 {
  left: 748.9997863769531px;
  top: 79.99999237060547px;
}

#overlay-frame-4 .container-center-horizontal {
  justify-content: normal;
}

.frame-4 .frame-3 {
  height: 132px;
  margin-left: -6px;
  width: 225px;
}
