/* screen - frame-12 */

.frame-12 {
  align-items: flex-start;
  display: flex;
  height: 363.48px;
  min-width: 202px;
  overflow-x: hidden;
}

.frame-12 .overlap-group {
  height: 363px;
  margin-left: 2px;
  position: relative;
  width: 208px;
}

.frame-12 .group-4 {
  align-items: flex-start;
  display: flex;
  height: 363px;
  left: 13px;
  position: absolute;
  top: 0;
}

.frame-12 .overlap-group1 {
  border-radius: 10px;
  height: 363px;
  position: relative;
  width: 187px;
}

.frame-12 .rectangle-1 {
  background-color: var(--primarywhite);
  border-radius: 10px;
  box-shadow: 0px 6px 6px #2f669033;
  height: 363px;
  left: 0;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 187px;
}

.frame-12 .rectangle-1:hover {
  transform: scale(1.1);
}

.frame-12 .work {
  height: 27px;
  left: 124px;
  letter-spacing: 0;
  pointer-events: auto;
  position: absolute;
  text-align: right;
  top: 109px;
  transition: all 0.2s ease;
}

.frame-12 .work:hover {
  color: #18A999
}

.frame-12 .about {
  height: 27px;
  left: 115px;
  letter-spacing: 0;
  pointer-events: auto;
  position: absolute;
  text-align: right;
  top: 224px;
  transition: all 0.2s ease;
}

.frame-12 .about:hover {
  color: #18A999
}

.frame-12 .creative {
  height: 98px;
  left: 53px;
  letter-spacing: 0;
  pointer-events: auto;
  position: absolute;
  text-align: right;
  top: 233px;
  transition: all 0.2s ease;
  width: 123px;
}

.frame-12 .creative:hover {
  color: #18A999
}

.frame-12 .place {
  height: 78px;
  left: 51px;
  letter-spacing: 0;
  pointer-events: auto;
  position: absolute;
  text-align: right;
  top: 285px;
  transition: all 0.2s ease;
  width: 123px;
}

.frame-12 .place:hover {
  transform: scale(1.1);
}

.frame-12 .group-3 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 36px;
  justify-content: flex-end;
  left: 129px;
  position: absolute;
  top: 40px;
}

.frame-12 .overlap-group2 {
  height: 38px;
  margin-top: -0.78px;
  position: relative;
  width: 38px;
}

.frame-12 .line-4 {
  height: 21px;
  left: 18px;
  position: absolute;
  top: 0;
  width: 20px;
}

.frame-12 .line-5 {
  height: 38px;
  left: 0;
  position: absolute;
  top: 0;
  width: 37px;
}

.frame-12 .line-6 {
  height: 20px;
  left: 1px;
  position: absolute;
  top: 18px;
  width: 20px;
}

.frame-12 .island-metro {
  height: 28px;
  left: 4px;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 142px;
  width: 177px;
}

.frame-12 .kids-budgeting-app {
  height: 28px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 184px;
  width: 185px;
}
